INPUT_GAME=riftbound
INPUT_GRAPHQL-ENDPOINT=example-endpoint
INPUT_STATIC-DATA-FIELD-NAME=staticData
INPUT_TIMEOUT=600000
INPUT_GCS-BUCKET-NAME=example-bucket-name
INPUT_GCS-PROJECT-ID=example-project-id
INPUT_DYNAMIC-MODULES-ENV=dev